@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root{
  --discord-color: #7289da;
  --twitch-color: #613fa0;
}

body{
    margin: 0;
    padding: 0;
}

.overlay{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    transition: 10s;
}

.overlay-container{
    height: calc(100vh - 100px);
    overflow: auto;
    width: fit-content;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

p, h1{
  margin: 0 !important;
}

a{
  color: white;
}