body{
    margin: 0;
    padding: 0;
}

.overlay{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    transition: 10s;
}

.overlay-container{
    height: 100vh;
    overflow: auto;
    width: fit-content;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}